@model IEnumerable<TPH.Models.Person>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Table per Hierarchy (TPH) Demo</h1>
    <p class="lead">Detta är en enkel demo som visar och beskriver hur arv kan hanteras av Entity Framework</p>
</div>
